name: App build
on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review, unlabeled]

env:
  mops_version: latest
  dfx_version: 0.29.2

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:

      - name: Checkout repository
        uses: actions/checkout@v6
      - uses: caffeinelabs/setup-mops@v1
      - uses: dfinity/setup-dfx@main
  
      - name: Confirm dfx installation
        run: dfx --version
  
      - name: Make sure moc is installed
        run: mops toolchain bin moc || mops toolchain use moc latest
  
      - name: Run mops test
        run: mops test

      - name: Build example
        working-directory: ./examples
        run: dfx build --check
